@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*{
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth;

}

body{
 background: linear-gradient(#130749,#6F00ED,rgb(60, 40, 40));
 background-repeat: no-repeat;
 height: 100%;
}